{% extends 'layout.html' %}

{% block body %}
    <h3>Hakımda</h3>
    <hr class="border-5"> 
    <div class="mt-4 p-5 bg-dark text-white rounded text-monospace">
        <div class="text-center">
            <h1>MERHABA BEN SERDAR DAYICIK</h1><br>
            <p>HTML , CSS , PYTHON VE AZ BUÇUKTA C# BİLGİM VAR BU SEKTÖRE YENİ BAŞLADIM VE BU SİTE PYTHON DİLİ VE FLASK FRAMWOK İLE YAPILMIŞTIR. <br>
            YAPIMI 3 GÜN SÜREN BU SİTE FLASK İLE YAPTIGIM İLK SİTE O YÜZDEN CONTACT KISMINDAN GERİ DÖNÜŞ YAPIP ŞİKAYET VEYA İSTEKLERİNİZ VARSA <br>
            BİLDİRİRSENİZ COK İYİ OLUR İYİ GÜNLER DİLERİM.
            </p>
        </div>
    </div>
{% endblock %}