{% extends 'layout.html' %}


{% block body %}

<h3>Kontrol Paneli</h3>
<small>hoşgeldin, {{ session["username"] }}</small>
<hr class="border-5">

<a href="/addarticle" class="btn btn-danger">Makale Ekle</a>
<br>
<hr>

{% if articles %}
<form action="/dbsearch" method="post">
  <div class="input-group pb-3">
      <input type="search" name="keyword" class="form-control bg-dark-subtle" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <button type="button" class="btn btn-dark   ">Ara</button>
    </div>
</form>
<table class="table table-hover table-dark">
    <thead>
      <tr class="text-center">
        <th scope="col">#</th>
        <th scope="col">Başlık</th>
        <th scope="col">Yazar</th>
        <th scope="col">Tarih</th>
        <th scope="col">Güncelle</th>
        <th scope="col">Sil</th>
      </tr>
    </thead>
    <tbody>
        {% for article in articles %}
        <tr class="text-center">
                <th scope="row">{{article.id}}</th>
                <td><a href="/article/{{article.id}}">{{article.title}}</a></td>
                <td>{{article.author}}</td>
                <td>{{article.created_date}}</td>
                <td><a href="/edit/{{article.id}}"class="btn btn-primary">Güncelle</a></td>
                <td><a href="/delete/{{article.id}}"class="btn btn-danger">Sil</a></td>
          </tr>
        {% endfor %}
    </tbody>
  </table>
{% else %}
    <div class="alert alert-danger">Henüz bir makaleniz bulunmuyor...</div>
{% endif %}
{% endblock %}